h2, h3, h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li  {
  margin: 0px 0px 6px 0px;
}

.header {
  grid-area: hd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .box {
  flex: 1;
}

.header h1 {
  text-align: center;
  margin: 0;
}

.nav-bar {
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: ft;
  padding: 20px;
}

.footer__footer-links {
  margin: 0px 20px 0px 10px;
}

@media(min-width:900px) {
  .header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
  }

  .nav-bar {
    text-align: right;
  }

  .side-bar {
    display: block;
    padding: 20px;
  }

  .side-bar__search {
    margin: 0px 0px 50px 0px;
  }
}